@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');@import "tailwindcss";

@theme {
    --color-primary: #052D57;
    --color-secondary: #F5F5F5;
    --color-bg2: #000000;

    --font-google: "Google Sans", sans-serif;
}

.blueBG {
    background-color: #343a40;
;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.glow {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 206px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
}

.track > h1 {
  margin: 20px 0;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
}
