@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');@import "tailwindcss";

@theme {
    --color-primary: #052D57;
    --color-secondary: #F5F5F5;
    --color-bg2: #000000;
    --font-google: "Google Sans", sans-serif;
}

.blueBG {
    background-color: #343a40;
;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.glow {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 206px;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
}

.track > h1 {
  margin: 20px 0;
  font-size: 7rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* For project carousel */

.perspectiveReverse {
  transform: perspective(1000px) rotatex(-20deg);
}

.groupReverse {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1em; 
  flex-shrink: 0; 
  height: max-content; 
  animation: spinReverse 40s infinite linear;
}

.perspective {
  transform: perspective(1000px) rotatex(20deg);
}
.carousel {
  overflow-y: hidden;
  height: 80vh;     
  display: flex;
  flex-direction: column; 
  margin: 0 auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1em; 
  flex-shrink: 0; 
  height: max-content; 
  animation: spin1 40s infinite linear;
}

.card {
  flex: 0 0 auto;
  width: auto; 
  height: auto;
  /* background-color: #f0f0f0; */
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
  overflow: hidden;
}

@keyframes spin1 {
  from { translate: 0 0; }
  to { translate: 0 -100%; } 
}

@keyframes spinReverse {
  from { translate: 0 -100%; }
  to { translate: 0 0%; } 
}

.sidebar {
  right: -100%;
  transition: all 1s; 
}

.sidebar.active {
  right: 0%;
}

/* For Image Slider */

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}